
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    </main>
    <!--bottom nav-->
   
    <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
   <div class="container-fluid">
    <h6 class="display-6 navbar-text">&copy;2023 All rights reserved</h6>
    </div>
    </nav>
  </div>
</nav>
      </footer>
      <!--script section-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>