<!-- File name: about.ejs
      Author: Daniel Zhuo
   Student #: 301330354
        Date: Oct 5, 2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Myself</h1>

    <div class="content">
      <div class="image">
        <img src="/img/DanielZhuo.jpg" alt="DanielZhuo" width="200">
        <p class="resume"><a href="/Content/RESUME.pdf" target="_blank">Resume</a></p>
      </div>
      <div class="text">
        <p>
          My name is Daniel Zhuo. I grew up and received my BA Degree in French Language in China. Before coming to Canada, I worked as a supply chain management professional in Africa and the Middle East for 18 years. Currently I am studying full-time Software Engineering at Centennial College and part-time Software and Information System Testing at Fanshawe College. </p><hr>

        <p>My favorite activities include:</p>
          <ul>
              <li type="square">Sports</li>
              <li type="square">Watch TV shows</li>
              <li type="square">Listen to music</li>
              <li type="square">Photography</li> 
              <li type="square">Reading</li>
              <li type="square">Travel</li>
              <li type="square">Electronics & IT</li>
          </ul>
      </div>
  </div>
  


  

  </div>
    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   