<!-- File name: index.ejs
      Author: Daniel Zhuo
   Student #: 301330354
        Date: Oct 5, 2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <p>
    <br><h2>Hey there, and welcome to my little corner of the web!</h2><br>
    <p>
    I'm thrilled you stopped by. This website is my digital playground, where I get to share a piece of my world with you. It's a place where I showcase my interests, experiences, and thoughts.</p>

    <p>
    Take your time to explore. You can know more about me in <a href="/about">About</a>. You can also check my <a href="/mission">mission stateion</a>.</p>

    <p>
    This website is a work in progress, much like life itself. I'm constantly adding new content and ideas, so be sure to check back from time to time. And if you'd like to get in touch or just chat about shared interests, don't hesitate to reach out through <a href="/contact">contact</a> page.</p>

    <p>
    Thanks for dropping by and being a part of my online journey. Let's embark on this adventure together!</p><br>

    <p>
    Cheers,</p>
    <p>
    Daniel Zhuo
    </p>


  </div>
</main>
    <!--bottom nav-->
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   