<!-- File name: mission.ejs
      Author: Daniel Zhuo
   Student #: 301330354
        Date: Oct 5, 2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">My Mission</h1>
    <p> 
      <em>As a future IT professional, I believe my mission is to leverage my technical expertise, problem-solving skills, and dedication to continuous improvement to make a meaningful impact in the world of technology. <b>I am committed to:</b></em> </p>
      
    <ol>       
      <li>
      <b>Ethical Practice:</b> I uphold the highest ethical standards, ensuring transparency, integrity, and accountability in all my IT endeavors.</li>
      
      <li>
      <b>Customer-Centric Approach:</b> I prioritize understanding the needs of end-users and stakeholders to deliver IT solutions that truly meet their requirements and expectations.</li>

      <li>
      <b>Safeguarding Information:</b> I take seriously the responsibility of safeguarding sensitive data and ensuring robust cybersecurity measures are in place to protect against threats.</li>
        
      <li>
      <b>Lifelong learning:</b> I understand that technology is ever-changing, and I am committed to adaptability and lifelong learning to stay relevant and effective in my role.</li>
      
      <li>
      <b>Environmental Responsibility:</b> I am conscious of the environmental impact of technology and work towards sustainable practices, reducing waste, and promoting eco-friendly IT solutions.</li>
    </ol>
      
      <p>
      In pursuing this mission, I aspire to contribute positively to organizations, communities, and the broader IT community. I believe that technology has the power to transform businesses and improve lives, and I am dedicated to playing a meaningful role in this digital journey.
      </p>
  </div>
  </main>
    
    <!--bottom nav-->

      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>