<!-- File name: services.ejs
      Author: Daniel Zhuo
   Student #: 301330354
        Date: Oct 5, 2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">My Skills</h1>

    <ul>
      <li><b>Software Development using the programming Languages: </b>
        <ul>
          <li>C#</li>
          <li>Java</li>
          <li>Python</li>
        </ul>
      </li>
      <li><b>Front-end & Back-end Stack Web Development using: </b>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>MEAN Stack</li>
        </ul>
      </li>
      <li><b>Operating System & Database: </b>
        <ul>
          <li>Unix/Linux</li>
          <li>SQL</li>
          <li>Oracle PL/SQL</li>
        </ul>
      </li>
      <li><b>Software & Information system Testing: </b>
        <ul>
          <li>Automated Testing</li>
          <li>User Experience Testing</li>
          <li>Non-functional Testing</li>
          <li>IS Security Testing</li>
        </ul>
        <li><b>Project Management: </b>
          <ul>
            <li>Procurement & Logistics Management</li>
            <li>Contract Negotiation and Administration</li>
            <li>Cost & Schedule Planning and Control</li>
            <li>Quality Control and Assurance</li>
            <li>Risk Identification and Mitigation</li>
          </ul>
      </li>
    </ul>
    

    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   