 <!-- File name: bottom_nav.ejs
      Author: Daniel Zhuo
   Student #: 301330354
        Date: Oct 5, 2023
-->
 
 <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
   
    <h6 class="display-4 navbar-text">Copyright &copy; 2023 Daniel ZHUO </h6>
    </nav>
  
 </footer>